{% extends "base.html" %} {% block content %}
<title>Collect</title>
<div class="card-wrapper">
  <div class="card" style="height: 750px">
    <div>
    

      <div style="float: left">
        <h1 style="font-family: 'Aquire', sans-serif"> source</h1>
      </div>
      <div style="float: right; margin-top: 0.5em">
        <a
          ><img
            src="../static/image/logo.png"
            height="55px"
            width="40px"
            alt="Beetle logo"
        /></a>
      </div>
    </div>
    <div
      style="margin: 15em 1em; display: flex; justify-content: space-between"
    >
      <div style="text-align: center">
        <a href="/instagram"
          ><img
            src="../static/image/instagramlogo1.png"
            alt="annotate"
            height="55px"
            width="55px"
            style="margin-top: 10px"
        /></a>
        <p style="margin-top: 2.5mm;font-size: 1.2rem;font-family: 'euclid-circular-a', euclid-circular-a; ">Instagram</p>
      </div>
      <div style="text-align: center">
       
        <a href="/collect"
          ><img
            src="../static/image/twitterlogo.png"
            alt="collect"
            height="70px"
            width="65px"
        /></a>
        <p style="margin-top: 1.5mm;font-size: 1.2rem;font-family: 'euclid-circular-a', euclid-circular-a; ">Twitter</p>
      </div>
      
       
        
      
      
    </div>
   

   
  </div>
  
</div>

{% endblock %}
