{% extends "base.html" %} {% block content %}
<title>Sign up</title>
<div class="card-wrapper">
  <div class="card" style="height: 750px">
    <h1 class="left" style="font-family: 'Aquire', sans-serif">sign up</h1>

    <div class="center">
      <img src="/static/image/logo.png" width="80" height="120" alt="logo" />
    </div>

    <div style="margin: 0 10%">
      <form name="signup_form" class="center">
        <div style="font-size: 1rem; font-weight: bold; font-family: 'euclid-circular-a', euclid-circular-a; text-align: left;">First Name</div>
        <input
          type="text"
          name="firstName"
          class="field"

          required
        />
        <div style="font-size: 1rem; font-weight: bold; font-family: 'euclid-circular-a', euclid-circular-a; text-align: left;">Last Name</div>
        <input
          type="text"
          name="lastName"
          class="field"

          required
        />
        <div style="font-size: 1rem; font-weight: bold; font-family: 'euclid-circular-a', euclid-circular-a; text-align: left;">Email </div>
        <input
          type="email"
          name="email"
          class="field"
          placeholder="example@example.com" 

          required
        />
        <div style="font-size: 1rem; font-weight: bold; font-family: 'euclid-circular-a', euclid-circular-a; text-align: left;">Password</div>
        <input
          type="password"
          name="password"
          class="field"

          required
        />

      

        <p class="error error--hidden"></p>

        <input
          type="submit"
          value="Sign Up"
          class="btn"
          style="background-color: black"
        />

        <div class="center">
          <label for="login"
            >Already a member?
            <a href="/login" style="color: blue">Sign In </a></label
          >
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
