{% extends "base.html" %} {% block content %}
<title>Profile Page</title>
<div class="card-wrapper">
  <div class="card" style="height: 750px">


    <h1 class="left" style="font-family: 'Aquire', sans-serif">Profile</h1>


    <div style="float: right; margin-top: -5em"> 
      <a href="/dashboard">
        <img
          src="../static/image/Home.png"
          height="55px"
          width="50px"
          alt="dashboard"
        />
      </a>
    </div>

    <h3 class="left" style="font-family: 'euclid-circular-a', euclid-circular-a">Account details</h3>

    <div
      style="border-radius: 20px; background-color: #efefef; padding: 10px 20px"
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <div style="font-size: 1rem; font-family: 'euclid-circular-a', euclid-circular-a; ">Name</div>
          <div style="font-weight: bold">
            {{ session['user']['firstName'] }} {{ session['user']['lastName'] }}
          </div>
        </div>
        <div></div>
      </div>
    </div>
    <space>.</space>

    <div
      style="border-radius: 20px; background-color: #efefef; padding: 10px 20px"
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <div style="font-size: 1rem ;font-family: 'euclid-circular-a', euclid-circular-a;">Email</div>
          <div style="font-weight: bold">{{ session['user']['email'] }}</div>
        </div>
        <div></div>
      </div>
    </div>
    <div>
      <space>.</space>
    </div>

    <div
      style="border-radius: 20px; background-color: #efefef; padding: 10px 20px"
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <div style="font-size: 1rem; font-family: 'euclid-circular-a', euclid-circular-a;">My labels</div>
          <div style="font-weight: bold">
            {% if labels %} {% for label in labels %}
            <span>{{ label }} – </span>
            {% endfor %} {% else %}
            <span style="color: red">No labels</span>
            {% endif %}
          </div>
        </div>
        <div>
          <span
            
            style="color: green"
            onclick="window.location.href='/profile/addLabel'"
            >Update</span
          >
        </div>
      </div>

    </div>
    <div class="center">
      <a href="/user/signout"  
      value="Sign out"
      class="btn"
      style="background-color: black; margin-top: 90px;" >Sign Out</a>
    </div>
  </div>


</div>
{% endblock %}
